/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add any custom global styles here */
body {
  @apply bg-gray-100;
  background-image: url('/images/trialspictowebsite/public/images/27884380_stain_halftone_background 1.svg');
}

.navbar:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}